<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Gadsden_flag.svg/100px-Gadsden_flag.svg.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

<nav class="navbar navbar-custom navbar-static-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Liberty Lounge</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

    <div class="container">

      <div class="starter-template">
        <h1>Join the discussion</h1>
        <p class="lead">Please take a moment to fill out the form 
          below so that we can stay in touch.</p>
      </div>

      <div>
      <form action=
      "https://docs.google.com/forms/d/1kCcMbHQ9vGISW9PwRQrc7Pj_bXgA9Z5liYDAxczC1ns/formResponse"
      method="post" id="ss-form" target="_self" onsubmit="">
        <div role="list" class="ss-question-list" style=
        "margin-left: 2em; padding-left: 0">
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-item-required ss-text">
              <div class="ss-form-entry">
                <div class="ss-q-title">
                  <label class="ss-q-item-label" for="entry_1522868458">Name <span class=
                  "ss-required-asterisk">(Required)</span></label>
                </div>

                <div class="ss-q-help ss-secondary-text" dir="ltr"></div><input type=
                "text" name="entry.1522868458" value="" class="ss-q-short" id=
                "entry_1522868458" dir="auto" aria-label="Name" aria-required="true"
                required="" title="" />

                <div class="error-message" id="834928481_errorMessage"></div>

              </div>
            </div>
          </div>

          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-text">
              <div class="ss-form-entry">
                <div class="ss-q-title">
                  <label class="ss-q-item-label" for="entry_1795961007">Email
                  Address</label>
                </div>

              <div class="ss-q-help ss-secondary-text" dir="ltr"></div><input type=
                "text" name="entry.1795961007" value="" class="ss-q-short" id=
                "entry_1795961007" dir="auto" aria-label="Email Address" title="" />

                <div class="error-message" id="32770923_errorMessage"></div>
              
              </div>
            </div>
          </div>

          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-text">
              <div class="ss-form-entry">
                <div class="ss-q-title">
                  <label class="ss-q-item-label" for="entry_979352780">Twitter
                  Handle</label>
                </div>

                <div class="ss-q-help ss-secondary-text" dir="ltr"></div><input type=
                "text" name="entry.979352780" value="" class="ss-q-short" id=
                "entry_979352780" dir="auto" aria-label="Twitter Handle" title="" />

                <div class="error-message" id="2022474219_errorMessage"></div>

              </div>
            </div>
          </div>

          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-text">
              <div class="ss-form-entry">
                <div class="ss-q-title">
                  <label class="ss-q-item-label" for="entry_1486973975">Reddit
                  username</label>
                </div>

                <div class="ss-q-help ss-secondary-text" dir="ltr"></div><input type=
                "text" name="entry.1486973975" value="" class="ss-q-short" id=
                "entry_1486973975" dir="auto" aria-label="Reddit username" title="" />

                <div class="error-message" id="289076651_errorMessage"></div>

              </div>
            </div>
          </div>

          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-text">
              <div class="ss-form-entry">
                <div class="ss-q-title">
                  <label class="ss-q-item-label" for="entry_1775174497">Blog, Tumblr,
                  other publishing URLS</label>
                </div>

                <div class="ss-q-help ss-secondary-text" dir="ltr"></div><input type=
                "text" name="entry.1775174497" value="" class="ss-q-short" id=
                "entry_1775174497" dir="auto" aria-label=
                "Blog, Tumblr, other publishing URLS" title="" />

                <div class="error-message" id="1346560460_errorMessage"></div>

              </div>
            </div>
          </div>

          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-paragraph-text">
              <div class="ss-form-entry">
                <div class="ss-q-title">
                  <label class="ss-q-item-label" for="entry_503467255">Do you have any
                  online projects that you are involved in or interested in
                  starting?</label>
                </div>

                <div class="ss-q-help ss-secondary-text" dir="ltr"></div>

                <textarea name="entry.503467255" rows="8" cols="0" class="ss-q-long" id=
                "entry_503467255" dir="auto" aria-label= "Do you have any online projects that you are involved in or interested in starting?"></textarea>

                <div class="error-message" id="1402666894_errorMessage"></div>


              </div>
            </div>
          </div>

          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item ss-radio">
              <div class="ss-form-entry">
                <div class="ss-q-title">
                  <label class="ss-q-item-label" for="entry_2005011574">Are you
                  comfortable with this information being posted online for other CCs to
                  access?</label>
                </div>

                <div class="ss-q-help ss-secondary-text" dir="ltr"></div>

                <ul class="ss-choices" role="radiogroup" aria-label=
                "Are you comfortable with this information being posted online for other CCs to access?">
                <li class="ss-choice-item"><label><span class=
                "ss-choice-item-control goog-inline-block"><input type="radio" name=
                "entry.1570027488" value="Yes" id="group_1570027488_1" role="radio"
                  class="ss-q-radio" aria-label="Yes" /></span> <span class=
                  "ss-choice-label">Yes</span></label></li>

                  <li class="ss-choice-item"><label><span class=
                  "ss-choice-item-control goog-inline-block"><input type="radio" name=
                  "entry.1570027488" value="No" id="group_1570027488_2" role="radio"
                  class="ss-q-radio" aria-label="No" /></span> <span class=
                  "ss-choice-label">No</span></label></li>
                </ul>

                <div class="error-message" id="2005011574_errorMessage"></div>

              </div>
            </div>
          </div><input type="hidden" name="draftResponse" value=
          "[,,&quot;885341531448370469&quot;] " /> <input type="hidden" name=
          "pageHistory" value="0" /> <input type="hidden" name="fbzx" value=
          "885341531448370469" />

          <div class="ss-item ss-navigate">
            <table id="navigation-table">
              <tbody>
                <tr>
                  <td class="ss-form-entry goog-inline-block" id="navigation-buttons"
                  dir="ltr">
                    <input type="submit" name="submit" value="Submit" id="ss-submit" />

                    <div class="ss-password-warning ss-secondary-text">
                      Never submit passwords through Google Forms.
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
