

.starter-template 
{
  padding: 40px 15px;
  text-align: center;
}

.navbar-custom {
	background-color:#080808;
    color:#ffffff;
  	border-radius:0;
}
  
.navbar-custom .navbar-nav > li > a {
  	color:#fff;
  	padding-left:20px;
  	padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #febc44;
}
      
.navbar-custom .navbar-brand {
  	color:#eeeeee;
}
.navbar-custom .navbar-toggle {
  	background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  	background-color:#33aa33;
}

html, body
{
   height: 100%;
   min-height: 100%;
}

/* applies to anything of class "example-class-selector" */
.example-class-selector {
  margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
  /* Colors are in hexadecimal: http://www.colorpicker.com/ */  
  color: #CC00AA;
}

.jumbotron {
  position: relative;
  background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1; 
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.project .details {
     overflow: hidden;
}

.project .details .detailsImage {
     width: 200px;
     margin: 10px 10px 10px 0px;
     float: left;
}

body > div.container {
     margin-bottom: 20px;
}

.project-img {
     max-height: 100%;
}